In [1]:
import pandas as pd
import numpy as np

In [247]:
df = pd.read_csv('INFY.csv')

In [249]:
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [4]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [250]:
df[df['Series']!='EQ']

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
444,INFY,BL,25-Feb-2019,1220.15,734.95,734.95,734.95,734.95,734.95,734.95,1263230,9.284109e+08,1,0,0.0
462,INFY,BL,22-Mar-2019,734.95,738.95,738.95,738.95,738.95,738.95,738.95,1727935,1.276858e+09,1,1727935,100.0

In [251]:
df =df.drop(index=444, axis=1)
df[df['Series']!='EQ']

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
462,INFY,BL,22-Mar-2019,734.95,738.95,738.95,738.95,738.95,738.95,738.95,1727935,1.276858e+09,1,1727935,100.0

In [252]:
df =df.drop(index=462, axis=1)
df[df['Series']!='EQ']

Empty DataFrame
Columns: [Symbol, Series, Date, Prev Close, Open Price, High Price, Low Price, Last Price, Close Price, Average Price, Total Traded Quantity, Turnover, No. of Trades, Deliverable Qty, % Dly Qt to Traded Qty]
Index: []

In [253]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [254]:
df.tail(90)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
404,INFY,EQ,31-Dec-2018,656.95,660.00,662.00,655.80,659.60,658.95,659.27,3373319,2.223920e+09,65442,1517551,44.99
405,INFY,EQ,01-Jan-2019,658.95,660.95,666.30,654.15,665.95,665.05,660.66,2943390,1.944579e+09,45422,1282161,43.56
406,INFY,EQ,02-Jan-2019,665.05,666.00,674.00,662.05,668.00,669.05,669.97,7416655,4.968963e+09,108094,3880800,52.33
407,INFY,EQ,03-Jan-2019,669.05,672.00,677.00,663.10,668.00,669.15,669.66,6827249,4.571929e+09,125781,3676359,53.85
408,INFY,EQ,04-Jan-2019,669.15,671.75,673.90,651.00,660.25,661.05,660.17,7889310,5.208305e+09,187590,3747741,47.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [255]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,4.940000e+02,4.940000e+02,494.000000
mean,961.440789,961.070040,971.092713,951.052733,960.845648,960.945749,961.166498,6.056365e+06,5.469840e+09,1.361482e+05,3.605878e+06,61.759008
std,220.761549,220.091227,222.968974,218.714372,220.968590,221.029267,221.102384,5.451445e+06,4.770342e+09,8.557589e+04,2.840733e+06,9.924135
min,619.100000,621.000000,628.000000,599.850000,619.500000,619.100000,613.780000,5.457170e+05,5.060941e+08,1.388600e+04,3.077410e+05,26.380000
25%,735.025000,736.187500,742.700000,729.012500,734.125000,734.462500,735.720000,3.148044e+06,3.350973e+09,9.246300e+04,2.064895e+06,55.142500
50%,956.750000,957.525000,964.775000,948.000000,956.025000,955.975000,955.060000,4.905804e+06,4.601808e+09,1.197605e+05,3.053880e+06,62.270000
75%,1150.150000,1145.412500,1161.675000,1135.962500,1147.950000,1150.150000,1148.280000,7.303918e+06,6.042062e+09,1.551745e+05,4.332777e+06,68.767500
max,1441.100000,1449.000000,1467.900000,1430.000000,1440.000000,1441.100000,1451.300000,8.220248e+07,7.662502e+10,1.192900e+06,4.202849e+07,88.700000

In [256]:
df.tail(90).min()

Symbol                           INFY
Series                             EQ
Date                      01-Apr-2019
Prev Close                     656.95
Open Price                        660
High Price                        662
Low Price                         651
Last Price                      659.6
Close Price                    658.95
Average Price                  659.27
Total Traded Quantity         2943390
Turnover                  1.94458e+09
No. of Trades                   45422
Deliverable Qty               1282161
% Dly Qt to Traded Qty          36.25
dtype: object

In [257]:
df.tail(90).max()

Symbol                           INFY
Series                             EQ
Date                      31-Jan-2019
Prev Close                     767.25
Open Price                        770
High Price                        773
Low Price                         761
Last Price                     769.15
Close Price                    767.25
Average Price                   766.2
Total Traded Quantity        31574803
Turnover                  2.28786e+10
No. of Trades                  566543
Deliverable Qty              16753549
% Dly Qt to Traded Qty          74.53
dtype: object

In [258]:
df.tail(90).mean()

Prev Close                7.279056e+02
Open Price                7.285272e+02
High Price                7.348894e+02
Low Price                 7.214489e+02
Last Price                7.285772e+02
Close Price               7.286028e+02
Average Price             7.282926e+02
Total Traded Quantity     8.055477e+06
Turnover                  5.844801e+09
No. of Trades             1.642872e+05
Deliverable Qty           4.527516e+06
% Dly Qt to Traded Qty    5.635722e+01
dtype: float64

In [259]:
df.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [260]:
df['Date']=df['Date'].astype('datetime64')

In [261]:
df.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [262]:
df[df['Series']!='EQ']

Empty DataFrame
Columns: [Symbol, Series, Date, Prev Close, Open Price, High Price, Low Price, Last Price, Close Price, Average Price, Total Traded Quantity, Turnover, No. of Trades, Deliverable Qty, % Dly Qt to Traded Qty]
Index: []

In [263]:
df['Date'].max()

Timestamp('2019-05-13 00:00:00')

In [264]:
df['Date'].min()

Timestamp('2017-05-15 00:00:00')

In [265]:
df['Date'].max()-df['Date'].min()

Timedelta('728 days 00:00:00')

In [268]:
df['Month']=pd.DatetimeIndex(df['Date']).month
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,INFY,EQ,2017-05-15,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017,5
1,INFY,EQ,2017-05-16,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5
2,INFY,EQ,2017-05-17,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5
3,INFY,EQ,2017-05-18,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5
4,INFY,EQ,2017-05-19,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,2019-05-07,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21,2019,5
492,INFY,EQ,2019-05-08,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24,2019,5
493,INFY,EQ,2019-05-09,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01,2019,5
494,INFY,EQ,2019-05-10,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39,2019,5
495,INFY,EQ,2019-05-13,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70,2019,5

In [269]:
df['Year']=pd.DatetimeIndex(df['Date']).year
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,INFY,EQ,2017-05-15,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017,5
1,INFY,EQ,2017-05-16,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5
2,INFY,EQ,2017-05-17,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5
3,INFY,EQ,2017-05-18,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5
4,INFY,EQ,2017-05-19,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,2019-05-07,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21,2019,5
492,INFY,EQ,2019-05-08,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24,2019,5
493,INFY,EQ,2019-05-09,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01,2019,5
494,INFY,EQ,2019-05-10,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39,2019,5
495,INFY,EQ,2019-05-13,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70,2019,5

In [270]:
df.groupby(by='Month',axis=0).count()
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017,5
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5

In [271]:
df.groupby(by='Year',axis=0).count()
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017,5
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5

In [274]:
df = pd.concat([df, pd.DataFrame({'Transactions': df['Average Price']*df['Total Traded Quantity']})], axis = 1)

In [275]:
df['Transactions'].groupby(df['Month']).sum() / df['Total Traded Quantity'].groupby(df['Month']).sum()

Month
1      862.453406
2      915.793892
3      863.753105
4      908.036294
5      990.981971
6     1100.977879
7     1180.248342
8     1022.526510
9      814.838089
10     769.579304
11     756.505996
12     787.064410
dtype: float64

In [276]:
df['Transactions'].groupby(df['Year']).sum() / df['Total Traded Quantity'].groupby(df['Year']).sum()

Year
2017    944.251395
2018    968.748507
2019    725.878490
dtype: float64

In [277]:
# Function to calculate the average price over the last N days of the stock price
def avg(n):
    
    return df['Close Price'].tail(n).mean()

In [278]:
avg(30)

736.7966666666666

In [279]:
def profit_and_loss(n):
    k = len(df)
    curr = df['Close Price'][k-1]
    n_old_day = df['Close Price'].tail(n)
    
    return ((curr - n_old_day)/n_old_day)*100

In [280]:
sum(profit_and_loss(7))

0.5432114331161041

In [281]:
sum(profit_and_loss(30))

-62.87373248334804

In [282]:
sum(profit_and_loss(180))

-277.26122498087506

In [283]:
sum(profit_and_loss(365))

-7265.659508805403

In [284]:
df.insert(df.shape[1], 'Day_Perc_Change', df['Close Price'].pct_change())

In [285]:
df = df.iloc[1:,:]

In [286]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Transactions,Day_Perc_Change
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5,2.920780e+09,0.003626
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5,1.384108e+09,-0.002304
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5,3.878283e+09,0.009393
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5,2.031161e+09,-0.003951
5,INFY,EQ,2017-05-22,957.95,958.4,966.90,956.55,960.00,961.45,962.29,2751526,2.647755e+09,99616,2034031,73.92,2017,5,2.647766e+09,0.003654

In [287]:
df.insert(df.shape[1], 'Trend', 'Slight')

In [288]:
df.loc[df['Day_Perc_Change'].between(-0.005, -0.01, inclusive = True), 'Trend'] = 'Slight negative'

df.loc[df['Day_Perc_Change'].between(0.005, 0.01, inclusive = True), 'Trend'] = 'Slight positive'

In [289]:
df.loc[df['Day_Perc_Change'].between(-0.03, -0.01, inclusive = False),'Trend'] = 'Negative'

df.loc[df['Day_Perc_Change'].between(0.01, 0.03, inclusive = False),'Trend'] = 'Positive'

In [290]:
df.loc[df['Day_Perc_Change'].between(-0.07, -0.03, inclusive = True),'Trend'] = 'Top losers'

df.loc[df['Day_Perc_Change'].between(0.03, 0.07, inclusive = True),'Trend'] = 'Top gainers'

In [297]:
df.loc[df['Day_Perc_Change']<-0.07,'Trend']= 'Bear drop'

df.loc[df['Day_Perc_Change']>0.07,'Trend'] = 'Bull run'

In [298]:
df['Trend'].unique()

array(['Slight', 'Slight positive', 'Positive', 'Negative', 'Top gainers',
       'Bear drop', 'Top losers'], dtype=object)

In [300]:
df.head(30)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Transactions,Day_Perc_Change,Trend
1,INFY,EQ,2017-05-16,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017,5,2.920780e+09,0.003626,Slight
2,INFY,EQ,2017-05-17,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017,5,1.384108e+09,-0.002304,Slight
3,INFY,EQ,2017-05-18,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017,5,3.878283e+09,0.009393,Slight positive
4,INFY,EQ,2017-05-19,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017,5,2.031161e+09,-0.003951,Slight
5,INFY,EQ,2017-05-22,957.95,958.40,966.90,956.55,960.00,961.45,962.29,2751526,2.647755e+09,99616,2034031,73.92,2017,5,2.647766e+09,0.003654,Slight
6,INFY,EQ,2017-05-23,961.45,964.65,967.00,954.10,957.50,957.30,960.16,2019991,1.939515e+09,80122,1436389,71.11,2017,5,1.939515e+09,-0.004316,Slight
7,INFY,EQ,2017-05-24,957.30,960.00,965.50,949.60,957.00,954.80,958.37,2818143,2.700827e+09,56898,1913750,67.91,2017,5,2.700824e+09,-0.002612,Slight
8,INFY,EQ,2017-05-25,954.80,961.00,986.60,961.00,981.00,983.30,978.16,5219257,5.105250e+09,76160,4108984,78.73,2017,5,5.105268e+09,0.029849,Positive
9,INFY,EQ,2017-05-26,983.30,987.00,1000.00,980.60,996.05,995.70,994.06,2494002,2.479194e+09,63671,1477643,59.25,2017,5,2.479188e+09,0.012611,Positive
10,INFY,EQ,2017-05-29,995.70,990.90,996.70,975.70,986.00,985.15,983.11,3154217,3.100929e+09,83084,2272869,72.06,2017,5,3.100942e+09,-0.010596,Negative
11,INFY,EQ,2017-05-30,985.15,982.00,1000.00,978.65,993.00,996.20,995.45,1858455,1.850004e+09,62012,1280033,68.88,2017,5,1.849999e+09,0.011217,Positive
12,INFY,EQ,2017-05-31,996.20,993.55,993.55,974.85,976.05,977.05,980.19,3881950,3.805051e+09,121323,3086038,79.50,2017,5,3.805049e+09,-0.019223,Negative
13,INFY,EQ,2017-06-01,977.05,969.30,979.70,958.55,971.25,971.40,969.49,2754303,2.670263e+09,81421,1822506,66.17,2017,6,2.670269e+09,-0.005783,Slight
14,INFY,EQ,2017-06-02,971.40,973.40,975.45,964.20,966.00,969.45,968.76,1958983,1.897793e+09,48927,1396644,71.29,2017,6,1.897784e+09,-0.002007,Slight
15,INFY,EQ,2017-06-05,969.45,970.00,972.00,957.05,959.00,958.75,961.71,2731349,2.626761e+09,83794,1941199,71.07,2017,6,2.626766e+09,-0.011037,Negative
16,INFY,EQ,2017-06-06,958.75,965.00,987.50,964.40,980.00,979.35,980.08,3504343,3.434526e+09,83178,2018029,57.59,2017,6,3.434536e+09,0.021486,Positive
17,INFY,EQ,2017-06-07,979.35,985.00,988.90,945.00,959.30,961.30,963.75,6227523,6.001805e+09,139990,2519343,40.45,2017,6,6.001775e+09,-0.018431,Negative
18,INFY,EQ,2017-06-08,961.30,962.95,962.95,948.15,956.05,956.45,952.81,3097676,2.951502e+09,88147,1778850,57.43,2017,6,2.951497e+09,-0.005045,Slight
19,INFY,EQ,2017-06-09,956.45,938.55,950.95,923.00,949.00,948.60,937.55,7378831,6.918028e+09,161124,3054942,41.40,2017,6,6.918023e+09,-0.008207,Slight
20,INFY,EQ,2017-06-12,948.60,943.35,965.20,940.10,964.40,963.85,953.95,4295838,4.097997e+09,89686,2215716,51.58,2017,6,4.098015e+09,0.016076,Positive
21,INFY,EQ,2017-06-13,963.85,953.50,962.95,951.60,957.95,957.80,958.26,2468897,2.365834e+09,69355,1449584,58.71,2017,6,2.365845e+09,-0.006277,Slight
22,INFY,EQ,2017-06-14,957.80,960.00,961.90,951.20,958.50,958.60,957.02,3719055,3.559195e+09,90312,2710765,72.89,2017,6,3.559210e+09,0.000835,Slight
23,INFY,EQ,2017-06-15,958.60,959.65,967.95,949.60,951.35,952.10,956.12,2764031,2.642753e+09,67490,1852460,67.02,2017,6,2.642745e+09,-0.006781,Slight
24,INFY,EQ,2017-06-16,952.10,949.10,953.85,936.00,937.00,940.25,942.47,5474225,5.159269e+09,109487,4241070,77.47,2017,6,5.159293e+09,-0.012446,Negative
25,INFY,EQ,2017-06-19,940.25,939.95,940.25,928.00,930.80,929.85,931.98,3427930,3.194760e+09,82075,2297829,67.03,2017,6,3.194762e+09,-0.011061,Negative
26,INFY,EQ,2017-06-20,929.85,935.00,946.90,934.05,944.25,943.55,943.01,2592198,2.444472e+09,105790,1509148,58.22,2017,6,2.444469e+09,0.014734,Positive
27,INFY,EQ,2017-06-21,943.55,945.00,949.00,936.05,948.55,943.35,941.04,1867932,1.757792e+09,59945,1286468,68.87,2017,6,1.757799e+09,-0.000212,Slight
28,INFY,EQ,2017-06-22,943.35,947.70,968.70,935.10,939.00,940.15,953.78,4732621,4.513896e+09,115123,2848768,60.19,2017,6,4.513879e+09,-0.003392,Slight
29,INFY,EQ,2017-06-23,940.15,945.00,949.15,938.00,943.05,943.25,943.77,3201509,3.021489e+09,118944,2359021,73.68,2017,6,3.021488e+09,0.003297,Slight
30,INFY,EQ,2017-06-27,943.25,945.00,948.00,923.75,926.00,927.05,929.06,3452330,3.207420e+09,113272,2392340,69.30,2017,6,3.207422e+09,-0.017175,Negative

In [294]:
df.groupby('Trend')['Total Traded Quantity'].mean()

Trend
Bear drop          4.878630e+07
Negative           5.634151e+06
Positive           6.655530e+06
Slight             4.872337e+06
Slight positive    5.848807e+06
Top gainers        1.259063e+07
Top losers         1.463854e+07
Name: Total Traded Quantity, dtype: float64

In [295]:
df.groupby('Trend')['Total Traded Quantity'].median()

Trend
Bear drop          48786302.0
Negative            5088554.0
Positive            5523811.5
Slight              4102076.0
Slight positive     5301784.0
Top gainers        12042170.5
Top losers         10985897.0
Name: Total Traded Quantity, dtype: float64

In [296]:
df.to_csv('week2.csv')